.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 5s;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 3s;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 5s;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: display_none;
    animation-duration: 5s;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 3s,height 3s;
}
.ex-6-img, {
  width: 500px;
}
.ex-7-img {
  width: 500px;
  animation-name: color_image;
  animation-duration: 10s;
}
 .ex-8-img {
  width: 500px;
  animation-name: effect_image;
  animation-duration: 8s;
 }

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    animation-name: effect_image_2;
    animation-duration: 8s;
}
.ex-10-icon {
    font-size: 60px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.ex-11-icon {
    font-size: 60px;
    transition: transform 300ms ease-in-out;
}
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/* ANIMAZIONI */
.ex-1-square:hover {
  background: red;
}

.ex-2-square:active {
  width: 600px;
}
.ex-3-square:hover {
  border-radius: 100%;
}
@keyframes display_none {
 0% {width:100px;}
 100% {width:0%;}
}
.ex-5-square:hover {
  width:120px;
  height: 120px;
}
.ex-5-square:active {
  width:80px;
  height: 80px;
}
.ex-6-img:hover {
  filter: grayscale();
}
@keyframes color_image {
  0% {filter:blur(20px);}
  50% {filter: sepia(1);}
  100% {filter:saturate(8);}
}
@keyframes effect_image {
  0% {filter:blur(20px);}
  50% {filter: sepia(1);}
  100% {border-radius: 50px;}
}
@keyframes effect_image_2 {
  0% {filter:blur(20px);}
  50% {filter: sepia(1);}
  75% {border-radius: 50px;}
  100% {width: 200px;}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
.ex-11-icon:hover{
transform: rotate(270deg);

}
